[url "git@personal-github.com:{{ .personal_github_user }}/"]
    insteadOf = ssh://git@github.com/{{ .personal_github_user }}/
    insteadOf = git@github.com:{{ .personal_github_user }}/
    insteadOf = https://github.com/{{ .personal_github_user }}/

[includeIf "hasconfig:remote.*.url:https://github.com/{{ .personal_github_user }}/**"]
    path = ~/.config/git/personal/ifconfig

[includeIf "hasconfig:remote.*.url:ssh://git@github.com/{{ .personal_github_user }}/**"]
    path = ~/.config/git/personal/ifconfig

[includeIf "hasconfig:remote.*.url:git@github.com:{{ .personal_github_user }}/**"]
    path = ~/.config/git/personal/ifconfig

[includeIf "hasconfig:remote.*.url:git@personal-github.com:{{ .personal_github_user }}/**"]
    path = ~/.config/git/personal/ifconfig
