{{- $data := include "data.toml" | fromToml -}}
{{- with $data.data }}
[url "personal-github.com:{{ .business_githubUser }}"]
    insteadOf = ssh://git@github.com/{{ .business_githubUser }}
    insteadOf = git@github.com/{{ .business_githubUser }}
    insteadOf = <https://github.com/{{ .business_githubUser }}>
    pushInsteadOf = ssh://git@github.com/{{ .business_githubUser }}
    pushInsteadOf = git@github.com:{{ .business_githubUser }}
    pushInsteadOf = <https://github.com/{{ .business_githubUser }}>

[includeIf "hasconfig:remote.*.url:ssh://git@github.com/{{ .business_githubUser }}/**"]
    path = ~/.config/git/personal/ifconfig

[includeIf "hasconfig:remote.*.url:git@github.com:{{ .business_githubUser }}/**"]
    path = ~/.config/git/personal/ifconfig

[includeIf "hasconfig:remote.*.url:<https://github.com/{{ .business_githubUser }}/**>"]
    path = ~/.config/git/personal/ifconfig

[ghq]
    root = ~/ghq/personal
{{- end }}