{{ if ne .chezmoi.os "darwin" }}
tap "github/gh"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
brew "bat"
brew "openjdk"
brew "bfg"
brew "python@3.8"
brew "cairo"
brew "exa"
brew "fd"
brew "gnutls"
brew "gobject-introspection"
brew "harfbuzz"
brew "ffmpeg"
brew "open-mpi"
brew "fzf"
brew "gdk-pixbuf"
brew "geckodriver"
brew "gh"
brew "ghq"
brew "gifsicle"
brew "git"
brew "sheldon"
brew "git-now"
brew "pango"
brew "librsvg"
brew "graphviz"
brew "libheif"
brew "imagemagick"
brew "jq"
brew "libgsf"
brew "libxml2"
brew "luajit", args: ["HEAD"]
brew "protobuf"
brew "mysql"
brew "neovim", args: ["HEAD"]
brew "node"
brew "poppler"
brew "procs"
brew "ripgrep"
brew "ruby"
brew "telnet"
brew "tree"
brew "vim"
brew "vips"
brew "wget"
brew "heroku/brew/heroku"
cask "1password-cli"
cask "google-cloud-sdk"
cask "graphql-playground"
cask "virtualbox"
cask "visual-studio-code"
tap "buo/cask-upgrade"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "tclass/cloud_sql_proxy"
brew "dash"
brew "firebase-cli"
brew "imagemagick"
brew "jmeter"
brew "mas"
brew "maven"
brew "mysql"
brew "mysqltuner"
brew "wget"
brew "tclass/cloud_sql_proxy/cloud_sql_proxy"
cask "1password"
cask "alfred"
cask "bettertouchtool"
cask "biscuit"
cask "clipy"
cask "cursor"
cask "corretto11"
cask "corretto8"
cask "dash"
cask "docker"
cask "firebase-admin"
cask "forklift"
cask "franz"
cask "fuse"
cask "gitkraken"
cask "google-cloud-sdk"
cask "google-drive"
cask "google-japanese-ime"
cask "iterm2"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "krisp"
cask "slack"
cask "vivaldi"
cask "zoom"
mas "Amphetamine", id: 937984704
mas "BetterSnapTool", id: 417375580
mas "Delay-Start", id: 591620786
mas "Display Menu", id: 549083868
mas "EasyRes", id: 688211836
mas "Foxit PDF Reader", id: 1032155965
mas "Jira", id: 1475897096
mas "Kindle", id: 405399194
mas "Magnet", id: 441258766
mas "Navicat Premium Essentials", id: 1256997614
mas "Sleep Control Center", id: 946798523
mas "Yoink", id: 457622435

{{ end }}