{{- if .business_enabled }}
[url "git@business-github.com:{{ .business_github_user }}/"]
    insteadOf = ssh://git@github.com/{{ .business_github_user }}/
    insteadOf = git@github.com:{{ .business_github_user }}/
    insteadOf = https://github.com/{{ .business_github_user }}/

[includeIf "hasconfig:remote.*.url:https://github.com/{{ .business_github_user }}/**"]
    path = ~/.config/git/business/ifconfig

[includeIf "hasconfig:remote.*.url:ssh://git@github.com/{{ .business_github_user }}/**"]
    path = ~/.config/git/business/ifconfig

[includeIf "hasconfig:remote.*.url:git@github.com:{{ .business_github_user }}/**"]
    path = ~/.config/git/business/ifconfig

[includeIf "hasconfig:remote.*.url:git@business-github.com:{{ .business_github_user }}/**"]
    path = ~/.config/git/business/ifconfig

{{- end }}
