{{- if .business_enabled }}
[user]
    name = {{ .business_name | quote }}
    email = {{ .business_email | quote }}
{{- if .sign_git_commits }}
    signingkey = ~/.ssh/github_business_signing_ed25519.pub
{{- end }}
{{- end }}
